/* Untuk Tablets */
@media (max-width: 1000px) {
  header{
    width: 100%;
    }

header li{
    font-size:16px;
}

.logo{
    padding-top:7px;
    width:110px;
}


/* main */
main{
  height:1400px;
}

.heading h1{
  font-size:40px;
  margin-bottom:-15px;
}

.heading h3{
  font-family: "Telegraf", sans-serif, classic;
  font-size:18px;
}

.message-wrapper{
  margin-left:398px;
}

.menu{
  clear:left;
  margin: 0 auto;
  width:79%;
}

.menu-icon {
  text-align: center;
  margin-top: 25px;
  position: relative;
  padding-bottom: 25px;
  padding-right:40px;
  border-radius: 10px;
  margin-right: 30px;
}

.menu-icon img{
  margin-left:30px;
}

.lemon{
  height:200px;
  width:100px;
  position:relative;
  left: 12px;
}

/* footer */
footer{
  height:170px;
}

footer .container {
  padding: 35px 50px 15px 9px;
  margin: 0 auto;
  font-size: 12px;
  line-height:15px;
  opacity:0.9;
  }
}


  /* Untuk Smartphone */
@media (max-width: 670px) {

/* header */
header{
    width: 100%;
    }

header li{
    font-size:12px;
}

.logo{
    padding-top:2px;
    width:100px;
}


/* main */
main{
  height:1400px;
}

.heading h1{
  font-size:36px;
  margin-bottom:-15px;
}

.heading h3{
  font-family: "Telegraf", sans-serif, classic;
  font-size:14px;
}

.message-wrapper{
  margin-left:150px;
  width:100%;
}

.menu{
  clear:left;
}

.menu-icon {
  text-align: center;
  margin-top: 25px;
  position: relative;
  padding-bottom: 25px;
  padding-right:290px;
  border-radius: 10px;
  margin-right: 30px;
}

.menu-icon img{
  margin-left:30px;
}

.lemon{
  height:200px;
  width:100px;
  position:relative;
  left: 55px;
}

/* footer */
footer{
  height:170px;
}

footer .container {
  padding: 35px 50px 15px 9px;
  margin: 0 auto;
  font-size: 12px;
  line-height:15px;
  opacity:0.9;
  }
}